html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background-color: rgb(247, 247, 247);
}

img {
    pointer-events: none;
    /* max-width: 500px; */
}

.welcomeContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer a {
    text-decoration: none;
    margin: 5px;
}

.reglogcontainer {
    display: flex;
    flex-direction: row;
}

.reglogcontainer a {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    padding-bottom: 5px;
    border-radius: 30px;
}

.registerbutton {
    background-color: blue;
    color: white;
}

.loginbutton {
    background-color: white;
    border: 2px solid blue;
    color: blue;
}

.guestbutton {
    color: rgb(74, 74, 74);
}

.mainContainer {
    display: flex;
}

.sidenav {
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    padding-right: 150px;
    font-size: 20px;
}

.sidenav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.navicons {
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.postsContainer {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.post {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postimage img {
    width: 500px;
    height: auto;
}

.posttop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.posttop img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.post p {
    padding-left: 10px;
}