html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background-color: rgb(247, 247, 247);
}

body.auth-page {
    background-image: url("/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

img {
    pointer-events: none;
}

/* ======================================== Welcome Page ===============================================*/

.welcomeContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer a {
    text-decoration: none;
    margin: 5px;
}

.welcomeButtonsContainer {
    display: flex;
    flex-direction: row;
}

.welcomeButtonsContainer a {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    padding-bottom: 5px;
    border-radius: 30px;
}

.registerbutton {
    background-color: #5839FC;
    color: white;
}

.loginbutton {
    background-color: white;
    border: 2px solid #5839FC;
    color: #5839FC;
}

.guestbutton {
    color: rgb(74, 74, 74);
}

/* ======================================== Register & Login Page ===============================================*/

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.card {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #5839FC;
    color: #fff;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    padding: 24px;
}

label {
    color: #0000008e;
    font-size: 12px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 25px;
    font-size: 14px;
    border: 1px solid #63626283;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #5839FC;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(76, 139, 245, 0.25);
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
    margin-top: 4px;
}

.submitButton {
    text-align: center;
}

.btn-primary {
    background-color: #5839FC;
    border-color: #5839FC;
    color: #fff;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary:hover {
    background-color: #5234e4;
    border-color: #5839FC;
}

#remember {
    margin-bottom: 20px;
}

.forgotPwd {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.forgotPwd a {
    text-decoration: none;
    color: #5839FC;
    font-size: 12px;
}

/* ======================================== Sidenav/Layouts Page ===============================================*/

.mainContainer {
    display: flex;
}

.logo {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 32px;
}

.logo img {
    height: 40px;
}

.sidenav {
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
    padding-right: 10vw;
    font-size: 20px;
}

.sidenav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.navicons {
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.flipped {
    transform: scaleX(-1);
}

/* ======================================== Posts/Home Page ===============================================*/

.postsContainer {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.post {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.postimage img {
    width: 500px;
    height: auto;
    max-height: 800px;
    object-fit: cover;
}

.posttop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.posttop img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
}

.post p {
    padding-left: 10px;
}

.postDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 0;
}

.likeButtons {
    display: flex;
    flex-direction: column;
}

.like-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like-btn .like-icon {
    width: 24px;
    height: 24px;
}

.like-count {
    margin-left: 8px;
    font-size: 14px;
}

.profileLink {
    text-decoration: none;
    color: black;
}

/* ======================================== Profile Page ===============================================*/

.profileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postsTitle {
    margin-left: 12vw;
    margin-right: 12vw;
    border-bottom: 1px solid #ddd;
}

.profileDetails {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
}

.pfpContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    margin-right: 60px;
}

.pfpContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editProfileButton {
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    background-color: #F7F7F7;
    border: 1px solid rgb(209, 209, 209);
    padding: 5px 10px;
    border-radius: 30px;
}

.postActions {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    font-weight: bold;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button {
    width: 100%;
    height: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    margin-bottom: -16px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    right: 0;
}

/* ======================================== Admin Page ===============================================*/

.adminContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px;
    min-height: 100vh;
}

.dashboardTable {
    border-collapse: collapse;
}

.dashboardTable td {
    padding: 2px 8px;
}

.dashboardTable th {
    padding: 2px 8px;
    text-align: left;
}

.dashboardTable tbody tr:nth-child(odd) {
    background-color: white;
}

.dashboardTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.deleteUsersButton {
    cursor: pointer;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    width: 100%;
    margin-top: 15px;
}

.deleteUsersButton img {
    height: 20px;
}

/* ======================================== Create Post Page ===============================================*/

.createContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ======================================= Comments ================================================== */

.post-comments {
    padding: 0 15px 0px 15px;
    margin-bottom: 5px;
}

.post-comments h3 {
    margin-top: 0;
}

.comments-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comments-form input[type="text"] {
    width: 92%;
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #6362628f;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comments-form button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.comments-form button img {
    width: 24px;
    height: 24px;
}

.comments-form button:hover img {
    content: url('https://img.icons8.com/fluency-systems-filled/48/1A1A1A/sent.png');
}

.post-comments ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    transform: rotate(180deg);
}

.post-comments li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-180deg);
}

/* ======================================= Responsive ================================================== */


.bottomnav {
    display: none;
    height: 50px;
    width: 100%;
    position: sticky;
    bottom: 0;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.bottomnav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .sidenav {
        display: none;
    }

    .bottomnav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .postimage img {
        width: 350px;
    }

    .profileDetails {
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        align-items: center;
    }

    .pfpContainer {
        margin: auto;
    }

    .logo {
        display: none;
    }
}